name: python-wheel-build

on:
  push:
    branches:
      - master

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-2022]

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v3

      - name: Install dependencies
        run: python -m pip install --upgrade pip twine flake8

      - name: Build wheels (Linux)
        if: matrix.os == 'ubuntu-latest'
        run: |
          for PYVER in cp310-cp310 cp311-cp311 cp312-cp312 cp313-cp313; do
            docker run --rm -v ${{ github.workspace }}:/io quay.io/pypa/manylinux2014_x86_64 \
              /opt/python/${PYVER}/bin/pip install cython numpy build
            docker run --rm -v ${{ github.workspace }}:/io quay.io/pypa/manylinux2014_x86_64 \
              /opt/python/${PYVER}/bin/python -m build --wheel --outdir /io/wheelhouse/
          done

      - name: Build wheels (Windows)
        if: matrix.os == 'windows-2022'
        run: |
          pip install cython numpy build
          python -m build --wheel --outdir wheelhouse/

      - name: Get wheel filenames
        id: wheel-names
        run: |
          ls ./wheelhouse/pycmsgen-*.whl | xargs -n 1 basename > wheel_names.txt
          echo "wheel_names<<EOF" >> $GITHUB_OUTPUT
          cat wheel_names.txt >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT

      - uses: actions/upload-artifact@v4
        with:
          path: ./wheelhouse/pycmsgen-*.whl
          name: cmsgen-${{ matrix.os }}

      - name: Install twine
        run: python -m pip install twine

      - name: Publish wheels to PyPI
        env:
          TWINE_USERNAME: "__token__"
          TWINE_PASSWORD: ${{ secrets.PYPI_API_TOKEN }}
        run: |
          twine upload --skip-existing --disable-progress-bar ./wheelhouse/pycmsgen-*.whl
